{% load static %}
<!Doctype HTML>
<head>
    <meta charset = "UTF-8">
    <link rel = "stylesheet" href = "{% static 'mine.css'%}">
</head>
<body>
<div style="display: none" id="jsonData" data-json="{{ data }}"></div>
<article class = "wheel">
    <div>
    <canvas id="myCanvas" width="500" height="500">
    </canvas>
    </div>
    <div class = "wheel_hand"></div>
</article>
<h2 class = "word" id="p1" align ="center"> </h2>
<img style='display:block' id='base64image'>
<script src = "{% static 'mine.js' %}">
</script>
</body>